section.section-main-section {
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100px;
}

.container.main-wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1200px;
    width: 100%;
}

.container {
    border-bottom: 0;
}

.row.centered {
    justify-content: center !important;
}

section.blog-post {
    margin-bottom: 30px;
}

.image {
    position: relative;
    display: block;
    margin-bottom: 28px;
    max-height: 700px;
    overflow: hidden;
    margin-bottom: 30px;
}

img.section-img {
    margin: 0px 0 0px 0;
    max-width: 100%;
    height: auto;
    border-radius: 12px;
}

.description {
    font-family: 'Barlow Condensed';
    display: block;
    margin: 64px 0 16px;
    background-position: 0 100%;
    text-transform: none;
    color: #1e2242;
    font-size: 14px;
    line-height: 1.8em;
    text-align: left;
}

h3.section-main-h3 {
    position: relative;
    display: block;
    margin: 64px 0 16px;
    text-transform: none;
    /* width: max-content; */
    /* width: 500px; */
}

h3.section-main-h3 {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
    color: #1e2242;
    line-height: 1.2em;
    transition: all 0.3s ease 0s;
    z-index: 3;
    position: relative;
    /* margin: 0; */
    font-family: var(--font-headers), serif;
    font-weight: 700;
    font-size: 36px;
    text-align: left;
}

span.section-main-h3-span {
    color: #dd9933;
}

.p-content-wrapper {
    font-size: 14px !important;
    line-height: 1.8em;
    font-family: 'Merriweather', sans-serif;
    text-align: left;
    color: #1e2242b3;
}

p.section-main-p {
    font-size: 14px;
    line-height: 1.8em;
    font-family: 'Merriweather', sans-serif;
    text-align: left;
    color: rgba(30, 34, 66, .7);
}

.row.position-setting {
    margin-left: -15px;
    margin-right: -15px;
}

.text-center {
    text-align: center !important;
}

img.img-fluid.img-thumbnail.rounded-circle {
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    border: none;
}

.rounded-circle {
    border-radius: 50% !important;
}

ul.section-main-ul {
    font-size: 14px;
    line-height: 1.8em;
    font-family: 'Merriweather', sans-serif;
    color: rgba(30, 34, 66, .7);
}

li.section-main-ul-li {
    text-align: left;
    margin-bottom: 3%;
}

header.page-header {
    color: var(--white);
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0;
    background-repeat: no-repeat;
    position: relative;
    background-size: 100%;
    background: fixed;
    background-image: url(../images/service/plane-large.png) !important;
}

.ltx-footer-wrapper {
    background-color: #1E1F2D;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(../images/footer/footer-bg.png) !important;
}


@media only screen and (max-width: 480px) {
    .nav-logo-box {
        padding-right: 55%;
    }

    img.section-img {
        width: -webkit-fill-available;
    }

}

@media only screen and (max-width: 768px) {
    .nav-logo-box {
        padding-right: 52%;
    }

    img.section-img {
        width: -webkit-fill-available;
    }

}