.column.column_container.col-sm-8.vc_col-lg-6 {
    width: 50%;
}


@media only screen and (max-width: 480px) {
    .nav-logo-box {
        padding-right: 55%;
    }

    img.section-img {
        width: -webkit-fill-available;
    }

}

@media only screen and (max-width: 768px) {
    .nav-logo-box {
        padding-right: 52%;
    }

    img.section-img {
        width: -webkit-fill-available;
    }

}

/* CONTACT SECTION CSS  */
h2.header-subheader-h2 {
    position: relative;
    display: block;
    margin: 64px 0 16px;
    color: #1e2242;
    font-weight: 700;
    line-height: 1.1;
    font-size: 48px;
    font-family: 'Barlow Condensed', serif;

}

h4.contact-info-p-downheading {
    font-family: 'Barlow Condensed', serif;
    font-weight: 700;
    font-size: 30px;
}

h2.contact-inner-mini-h2 {
    margin: 42px 0 16px;
    font-weight: 700;
    word-wrap: break-word;
    font-size: 48px;
    font-family: 'Barlow Condensed', serif;
    color: #666;
}

span.icon-div-span {
    font-size: 2.15em;
    color: #5472d2;
}

p.contact-info-p {
    font-size: 14px;
    line-height: 1.8em;
    color: rgba(30, 34, 66, .7);
    font-family: 'Merriweather', sans-serif;
}

.icon-div {
    display: flex !important;
    width: fit-content;
}

.padding-syling-div {
    display: flex !important;
}

.margin-bootom-style {
    display: flex;
}

/* .heading.header-subheader.align-left {
    position: relative;
    display: block;
    margin: 64px 0 16px;
} */
.heading.header-subheader.align-left {
    position: relative;
    display: block;
    margin: 0px 0 -17px;
}

.padding-syling-div {
    color: #9d9d9e;
    border-color: transparent;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 1em;
    padding: 28px 28px;
    word-wrap: break-word;
}

.icon-div {
    vertical-align: top !important;
    padding-top: 10px;
    display: table-cell;
}

span.icon-div-span {
    font-size: 2.15em;
    color: #5472d2;
    padding-top: 21px;
}

i.fas.fa-phone-volume {
    text-align: center;
    display: inline-block;
    border: 2px solid transparent;
    box-sizing: content-box;
    position: relative;
}

.contact-content-header {
    text-align: left;
}

.col.container {
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
}

.mini-content-container {
    display: table-cell;
    padding-left: 1em;
    margin-top: -17px;
}

.row.text-align-center {
    justify-content: center;
    /* text-align: center !important; */
    align-items: center;
}

span.icon-div-span-2 {
    font-size: 2.15em;
    color: #5472d2;
    padding-top: 21px;
    margin-right: 12%;
}

.text-center.mb-2.text.align-items-center {
    border: 1px solid transparent;
    font-size: 1em;
    padding: 28px 28px;
    word-wrap: break-word;
    text-align: center !important;
    justify-content: center !important;
    align-items: center;
    border-radius: 5px;
    color: #9d9d9e;
    border-color: transparent;
    background-color: #fff;
}

.column-inner-custom {
    display: contents;
}

p.contact-inner-mini-p {
    font-size: 14px;
    line-height: 1.8em;
    color: #9d9d9e;
}

.container-padding-stylig {
    display: flex;
    gap: 5px;
    align-items: baseline;
}

.inner-page.text-page.my-3 {
    margin-top: 0% !important;
    padding-top: 0px;
    padding: 0;
}


.showcase .overlay {
    width: 100%;
    background: url(../images/about-us/inner_header.jpg);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}



/* light section after footer  */
section.bg-light.text-center.py-5 {
    /* background-color: #F6F4EF; */
    background-color: #f6f4ef !important;
    position: relative;
    box-sizing: border-box;
    width: 1425px;
    max-width: 1425px;
    padding-left: 112.5px;
    padding-right: 112.5px;
}

.ltx-footer-wrapper {
    background-color: #1E1F2D;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(../images/footer/footer-bg.png) !important;
}

h3.mb-4 {
    position: relative;
    display: block;
    margin: 64px 0 16px;
    color: #1e2242;
    font-family: var(--font-headers), serif;
    font-weight: 700;
    font-size: 36px;
}

form {
    text-align: center;
    padding: 45px 45px 25px;
    border-radius: 12px;
    background-clip: padding-box;
    position: relative;
}

input[type="hidden"] {
    width: 100%;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    padding: 20px 26px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 64px;
    background-clip: padding-box;
    font-family: 'Merriweather', sans-serif !important;
    transition: all 0.3s ease;
}

label.form-label {
    text-align: left;
    display: block;
    padding-left: 15px;
    margin-bottom: -2px;
    zoom: 1;
    opacity: 0.75;
    font-weight: bold;
    font-size: 14px;
    color: rgba(30, 34, 66, .7);
    line-height: 1.8em;
    font-family: 'Merriweather', sans-serif;
}

input#your-name {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    padding: 20px 26px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 64px;
    background-clip: padding-box;
    font-family: 'Merriweather', sans-serif;
}

input#your-email {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    padding: 20px 26px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 64px;
    background-clip: padding-box;
    font-family: 'Merriweather', sans-serif;
}

input#your-subject {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    padding: 20px 26px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 64px;
    background-clip: padding-box;
    font-family: 'Merriweather', sans-serif;
}

textarea#your-message {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    padding: 20px 26px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 32px !important;
    background-clip: padding-box !important;
    font-family: 'Merriweather', sans-serif;
    height: 140px;
}

button.btn.btn-primary {
    border-radius: 64px;
    font-family: 'Barlow Condensed', serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    padding: 18px 40px 22px;
    min-width: 230px !important;
    position: relative;
    overflow: hidden;
    display: inline-block;
    border: 0;
    background-color: var(--main);
    transform: scale(1);
    transition: background 0.3s, color 0.3s !important;
    color: #1e2242;
}

/* loader css  */
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #f6f4ef;
    /* background: #151515; */
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 0px);
    left: calc(50% - 30px);
    border: 6px solid #ffc451;
    /* border-top-color: #151515; */
    /* border-bottom-color: #151515; */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: #1e2242;

    animation: animate-preloader 1s linear infinite;
    background-image: url(../images/icon/airplane-fill.svg);
}

#preloader:before {
    /* Other styles */
    background-image: url('../images/icon/airplane-fill.svg');
    /* Adjust path as necessary */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    /* Adjust size as needed */
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#preloader {
    /* Ensure this element is initially visible */
    display: flex;
    /* or 'block', depending on your layout */
    /* Other styling */
}




/* banner img css  */
h1.header-h1 {
    text-align: center;
    /* color: #fff; */
}

h1.header-h1 {
    margin: 0;
    color: var(--main);
    position: relative;
    z-index: 11;
    line-height: 1.15em;
    font-size: 72px;
    font-weight: 700;
    padding: 0 15px;
    font-family: 'Barlow Condensed';
}

/* .header-section-item {
    list-style: none;
    margin: 14px 0 0px 0;
    padding: 0;
} */
.lernen_breadcrumb {
    text-align: center;
    list-style: none;
    margin: 14px 0 0px 0;
    font-weight: 700;
    padding: 0;
}

.d-grid.gap-2 {
    justify-content: center !important;
}

/* banner css  */
header.page-header:before {
    background-color: #1e2242;
    zoom: 1;
    filter: alpha(opacity=70);
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
    content: "";
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

header.page-header {
    color: var(--white);
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0;
    background-repeat: no-repeat;
    position: relative;
    background-size: 100%;
    background: fixed;
    background-image: url(../images/about-us/inner_header.jpg) !important;
}

header.page-header .container {
    position: relative;
    z-index: 2;
    padding-top: 155px;
    padding-bottom: 155px;
}

header.page-header h1 {
    margin: 0;
    color: #D3C19F;
    color: var(--main);
    position: relative;
    z-index: 11;
    line-height: 1.15em;
    font-size: 72px;
    padding: 0 15px;
    font-family: 'Barlow Condensed';
    font-weight: 700;
}

header.page-header .breadcrumbs {
    list-style: none;
    margin: 14px 0 0px 0;
    padding: 0;
}

header.page-header .breadcrumbs li {
    display: inline-block;
    margin: 0 0 0 0px;
    font-size: 18px;
    color: #D3C19F;
    color: var(--main);
    font-family: 'Barlow+Condensed', serif;
    font-family: var(--font-headers), serif;
    font-weight: 700;
}

ol.breadcrumb {
    list-style: none;
    margin: 14px 0 0px 0;
    padding: 0;
    text-align: center;
    justify-content: center;
}

li.breadcrumb-item {
    display: inline-block;
    margin: 0 0 0 0px;
    font-size: 18px;
    color: #dd9933 !important;
    font-family: 'Barlow Condensed';
    font-weight: 700;
}

li.breadcrumb-item.active:before {
    color: #dd9933 !important;
}

a {
    color: #fff !important;
    text-decoration: none !important;
    /* color: var(--white); */
    font-size: 18px;
}





/* responcive form  */
@media screen and (max-width:768px) {
    section.bg-light.text-center.py-5 {
        width: auto;
        padding: 0%;
    }
}